html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")

    body
        header
            .logo logo
            .menu
                - for (i = 1; i < 6; i++)
                    .block(class=`block${i}`) 
                        a.attr(href="#") text
            .menu-btn
                - for (i = 1; i < 4; i++)
                    .line

        .container
            .elements#masonry-grid
                -for (i = 1; i < 16; i++)
                    .elem(class=`elem${i}`)
                        .content
                            h3=`${i}`
                            p Lorem ipsum dolor sit amet.


        script(src='./main.js')