
body {
    margin: 0;
}

header {
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    background-color: rgba(134, 205, 238, 0.5);
    text-align: center;
    box-sizing: border-box;

    .logo, .block {
        padding: 10px 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;

        .block {
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                border-radius: 15px;
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }
    .active, .hidden{
        position: absolute;
        right: 0;
        margin-top: -10px;
        z-index: 1;
        background-color: rgba(104, 177, 173, 0.801);
        padding: 10px 40px 10px 10px;
    }

    .menu-btn {
        width: 25px;
        padding-top: 7px;
        display: none;
        z-index: 10;
        
        .line {
            padding: 1px 5px;
            background-color: black;
            border-radius: 5px;
            margin: 5px 0;
        }
    }

    @media screen and (max-width: 450px) {
        .menu-btn {
            display: block;
        }
        .menu {
            display: none;
        }
    }
}

.container {
    $borderRadius: 10px;

    .elements {
        margin: 0 auto;
        padding: 8px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 2px;
        grid-gap: 2px;
        grid-auto-flow: dense;
        
        .elem {
            padding: 8px;
            border-radius: $borderRadius;
            // border: 1px solid black;
            box-sizing: border-box;


            @for $i from 1 through 16 {
                &:nth-child(#{$i}){
                    height: random(300) + 150 + px;
                    background-color: rgba(random(200) + 50, random(200) + 50, random(200) + 50, (random(80) + 20)/100);
                }
            }

            .content {
                border-radius: $borderRadius;
            }
        }
    }
}